In [2]:
import numpy as np 
# to enable multi dimensional arrays 
import pandas as pd
# to organise data into tabular form 
import matplotlib.pyplot as plt
# To enhance some visualisations for graphs and chats.
import statsmodels.api as sm 
# to enable some statistical operations like data summaries and regressions 
import seaborn as sns
sns.set()
# For better visualisations from matplotlib

In [3]:
data = pd.read_csv("C:/Users/HP/OneDrive - University of Gloucestershire/Python/cps data2/principal_offence_category_january_2014.csv")
# loading the data into the environment using pandas package

In [4]:
data.head()
# Checking the first 5 rows of the data

,Unnamed: 0,Number of Homicide Convictions,Percentage of Homicide Convictions,Number of Homicide Unsuccessful,Percentage of Homicide Unsuccessful,Number of Offences Against The Person Convictions,Percentage of Offences Against The Person Convictions,Number of Offences Against The Person Unsuccessful,Percentage of Offences Against The Person Unsuccessful,Number of Sexual Offences Convictions,...,Number of All Other Offences (excluding Motoring) Convictions,Percentage of All Other Offences (excluding Motoring) Convictions,Number of All Other Offences (excluding Motoring) Unsuccessful,Percentage of All Other Offences (excluding Motoring) Unsuccessful,Number of Motoring Offences Convictions,Percentage of Motoring Offences Convictions,Number of Motoring Offences Unsuccessful,Percentage of Motoring Offences Unsuccessful,Number of Admin Finalised Unsuccessful,Percentage of L Motoring Offences Unsuccessful
0,National,51,82.3%,11,17.7%,"9,087",75.6%,"2,930",24.4%,736,...,"3,291",84.9%,586,15.1%,"12,945",89.8%,"1,466",10.2%,890,100.0%
1,Avon and Somerset,0,-,0,-,228,78.6%,62,21.4%,35,...,63,87.5%,9,12.5%,256,86.5%,40,13.5%,20,100.0%
2,Bedfordshire,0,0.0%,1,100.0%,68,70.1%,29,29.9%,2,...,13,86.7%,2,13.3%,171,92.9%,13,7.1%,12,100.0%
3,Cambridgeshire,0,-,0,-,101,82.8%,21,17.2%,10,...,28,75.7%,9,24.3%,103,86.6%,16,13.4%,14,100.0%
4,Cheshire,0,-,0,-,170,81.0%,40,19.0%,15,...,50,90.9%,5,9.1%,264,94.3%,16,5.7%,13,100.0%

In [5]:
data.shape
# the data frame contains 43 observations and 51 variables

(43, 51)

In [6]:
data.describe()
# to give some descriptive statistics like the mean and standard deviation

,Number of Homicide Convictions,Number of Homicide Unsuccessful,Number of Sexual Offences Convictions,Number of Sexual Offences Unsuccessful,Number of Burglary Unsuccessful,Number of Robbery Convictions,Number of Robbery Unsuccessful,Number of Theft And Handling Unsuccessful,Number of Fraud And Forgery Convictions,Number of Fraud And Forgery Unsuccessful,Number of Criminal Damage Unsuccessful,Number of Drugs Offences Unsuccessful,Number of Public Order Offences Unsuccessful,Number of All Other Offences (excluding Motoring) Unsuccessful,Number of Admin Finalised Unsuccessful
count,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000
mean,2.372093,0.511628,34.232558,13.302326,13.209302,24.279070,6.465116,46.418605,39.348837,6.372093,21.953488,14.186047,37.069767,27.255814,41.395349
std,7.907270,1.737158,111.107378,43.763180,43.456359,81.146055,22.609889,151.195275,130.457963,21.400960,71.129310,46.609960,121.440049,89.143836,138.135741
min,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000,0.000000,1.000000,1.000000,2.000000
25%,0.000000,0.000000,7.000000,2.000000,2.000000,3.000000,0.000000,9.000000,8.500000,0.000000,5.000000,2.000000,8.000000,4.500000,7.000000
50%,0.000000,0.000000,11.000000,5.000000,4.000000,6.000000,1.000000,20.000000,15.000000,2.000000,8.000000,4.000000,11.000000,9.000000,13.000000
75%,2.000000,0.000000,21.500000,7.000000,8.500000,13.000000,3.000000,30.500000,20.500000,3.000000,13.000000,8.000000,26.000000,14.000000,20.500000
max,51.000000,11.000000,736.000000,286.000000,284.000000,522.000000,139.000000,998.000000,846.000000,137.000000,472.000000,305.000000,797.000000,586.000000,890.000000

In [7]:
data.info()
# to show the names of the columns, data types and the memory size of the data set.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 51 columns):
 #   Column                                                              Non-Null Count  Dtype
---  ------                                                              --------------  -----
 0   Unnamed: 0                                                          43 non-null     object
 1   Number of Homicide Convictions                                      43 non-null     int64
 2   Percentage of Homicide Convictions                                  43 non-null     object
 3   Number of Homicide Unsuccessful                                     43 non-null     int64
 4   Percentage of Homicide Unsuccessful                                 43 non-null     object
 5   Number of Offences Against The Person Convictions                   43 non-null     object
 6   Percentage of Offences Against The Person Convictions               43 non-null     object
 7   Number of Offences Against The Person Unsuccessful                  43 non-null     object
 8   Percentage of Offences Against The Person Unsuccessful              43 non-null     object
 9   Number of Sexual Offences Convictions                               43 non-null     int64
 10  Percentage of Sexual Offences Convictions                           43 non-null     object
 11  Number of Sexual Offences Unsuccessful                              43 non-null     int64
 12  Percentage of Sexual Offences Unsuccessful                          43 non-null     object
 13  Number of Burglary Convictions                                      43 non-null     object
 14  Percentage of Burglary Convictions                                  43 non-null     object
 15  Number of Burglary Unsuccessful                                     43 non-null     int64
 16  Percentage of Burglary Unsuccessful                                 43 non-null     object
 17  Number of Robbery Convictions                                       43 non-null     int64
 18  Percentage of Robbery Convictions                                   43 non-null     object
 19  Number of Robbery Unsuccessful                                      43 non-null     int64
 20  Percentage of Robbery Unsuccessful                                  43 non-null     object
 21  Number of Theft And Handling Convictions                            43 non-null     object
 22  Percentage of Theft And Handling Convictions                        43 non-null     object
 23  Number of Theft And Handling Unsuccessful                           43 non-null     int64
 24  Percentage of Theft And Handling Unsuccessful                       43 non-null     object
 25  Number of Fraud And Forgery Convictions                             43 non-null     int64
 26  Percentage of Fraud And Forgery Convictions                         43 non-null     object
 27  Number of Fraud And Forgery Unsuccessful                            43 non-null     int64
 28  Percentage of Fraud And Forgery Unsuccessful                        43 non-null     object
 29  Number of Criminal Damage Convictions                               43 non-null     object
 30  Percentage of Criminal Damage Convictions                           43 non-null     object
 31  Number of Criminal Damage Unsuccessful                              43 non-null     int64
 32  Percentage of Criminal Damage Unsuccessful                          43 non-null     object
 33  Number of Drugs Offences Convictions                                43 non-null     object
 34  Percentage of Drugs Offences Convictions                            43 non-null     object
 35  Number of Drugs Offences Unsuccessful                               43 non-null     int64
 36  Percentage of Drugs Offences Unsuccessful                           43 non-null     object
 37  Number of Public Order Offences Convictions                         43 non-null     object
 38  Percentage of Public Order Offences Convictions                     43 non-null     object
 39  Number of Public Order Offences Unsuccessful                        43 non-null     int64
 40  Percentage of Public Order Offences Unsuccessful                    43 non-null     object
 41  Number of All Other Offences (excluding Motoring) Convictions       43 non-null     object
 42  Percentage of All Other Offences (excluding Motoring) Convictions   43 non-null     object
 43  Number of All Other Offences (excluding Motoring) Unsuccessful      43 non-null     int64
 44  Percentage of All Other Offences (excluding Motoring) Unsuccessful  43 non-null     object
 45  Number of Motoring Offences Convictions                             43 non-null     object
 46  Percentage of Motoring Offences Convictions                         43 non-null     object
 47  Number of Motoring Offences Unsuccessful                            43 non-null     object
 48  Percentage of Motoring Offences Unsuccessful                        43 non-null     object
 49  Number of Admin Finalised Unsuccessful                              43 non-null     int64
 50  Percentage of L Motoring Offences Unsuccessful                      43 non-null     object
dtypes: int64(15), object(36)
memory usage: 17.3+ KB

In [8]:
column_begin = 'Percentage'
# specifying the common word in column names to delete
delete_columns = [col for col in data.columns if column_begin in col]
# get a list of columns to delete
data.drop(columns=delete_columns, inplace=True)
# delete the columns from the dataframe

In [9]:
data.info()
# Check if successfully deleted

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 26 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Unnamed: 0                                                      43 non-null     object
 1   Number of Homicide Convictions                                  43 non-null     int64
 2   Number of Homicide Unsuccessful                                 43 non-null     int64
 3   Number of Offences Against The Person Convictions               43 non-null     object
 4   Number of Offences Against The Person Unsuccessful              43 non-null     object
 5   Number of Sexual Offences Convictions                           43 non-null     int64
 6   Number of Sexual Offences Unsuccessful                          43 non-null     int64
 7   Number of Burglary Convictions                                  43 non-null     object
 8   Number of Burglary Unsuccessful                                 43 non-null     int64
 9   Number of Robbery Convictions                                   43 non-null     int64
 10  Number of Robbery Unsuccessful                                  43 non-null     int64
 11  Number of Theft And Handling Convictions                        43 non-null     object
 12  Number of Theft And Handling Unsuccessful                       43 non-null     int64
 13  Number of Fraud And Forgery Convictions                         43 non-null     int64
 14  Number of Fraud And Forgery Unsuccessful                        43 non-null     int64
 15  Number of Criminal Damage Convictions                           43 non-null     object
 16  Number of Criminal Damage Unsuccessful                          43 non-null     int64
 17  Number of Drugs Offences Convictions                            43 non-null     object
 18  Number of Drugs Offences Unsuccessful                           43 non-null     int64
 19  Number of Public Order Offences Convictions                     43 non-null     object
 20  Number of Public Order Offences Unsuccessful                    43 non-null     int64
 21  Number of All Other Offences (excluding Motoring) Convictions   43 non-null     object
 22  Number of All Other Offences (excluding Motoring) Unsuccessful  43 non-null     int64
 23  Number of Motoring Offences Convictions                         43 non-null     object
 24  Number of Motoring Offences Unsuccessful                        43 non-null     object
 25  Number of Admin Finalised Unsuccessful                          43 non-null     int64
dtypes: int64(15), object(11)
memory usage: 8.9+ KB

In [10]:
data.columns = map(str.lower, data.columns)
# change column names to lower case

In [11]:
print(data.columns)

Index(['unnamed: 0', 'number of homicide convictions',
       'number of homicide unsuccessful',
       'number of offences against the person convictions',
       'number of offences against the person unsuccessful',
       'number of sexual offences convictions',
       'number of sexual offences unsuccessful',
       'number of burglary convictions', 'number of burglary unsuccessful',
       'number of robbery convictions', 'number of robbery unsuccessful',
       'number of theft and handling convictions',
       'number of theft and handling unsuccessful',
       'number of fraud and forgery convictions',
       'number of fraud and forgery unsuccessful',
       'number of criminal damage convictions',
       'number of criminal damage unsuccessful',
       'number of drugs offences convictions',
       'number of drugs offences unsuccessful',
       'number of public order offences convictions',
       'number of public order offences unsuccessful',
       'number of all other offences (excluding motoring) convictions',
       'number of all other offences (excluding motoring) unsuccessful',
       'number of motoring offences convictions',
       'number of motoring offences unsuccessful',
       'number of admin finalised unsuccessful'],
      dtype='object')

In [12]:
data.rename(columns={'unnamed: 0':'county','number of homicide convictions':'homicide',
       'number of homicide unsuccessful':'homicide_unsuccessful',
       'number of offences against the person convictions':'against_person',
       'number of offences against the person unsuccessful':'against_person_unsuccessful',
       'number of sexual offences convictions':'sexual_offences',
       'number of sexual offences unsuccessful':'sexual_offences_unsuccessful',
       'number of burglary convictions':'burglary', 'number of burglary unsuccessful':'burglary_unsuccessful',
       'number of robbery convictions':'robbery', 'number of robbery unsuccessful':'robbery_unsuccessful',
       'number of theft and handling convictions':'theft_handling',
       'number of theft and handling unsuccessful':'theft_handling_unsuccesful',
       'number of fraud and forgery convictions':'fraud_forgery',
       'number of fraud and forgery unsuccessful':'fraud_forgery_unsuccessful',
       'number of criminal damage convictions':'criminal_damage',
       'number of criminal damage unsuccessful':'criminal_damage_unsuccessful',
       'number of drugs offences convictions':'drugs',
       'number of drugs offences unsuccessful':'drugs_unsuccessful',
       'number of public order offences convictions':'public_order',
       'number of public order offences unsuccessful':'public_order_unsuccessful',
       'number of all other offences (excluding motoring) convictions':'other',
       'number of all other offences (excluding motoring) unsuccessful':'other_unsuccessful',
       'number of motoring offences convictions':'motoring',
       'number of motoring offences unsuccessful':'motoring_unsuccessful',
       'number of admin finalised unsuccessful':'admin_unsuccessful'}, inplace=True)

In [13]:
data.head()

,county,homicide,homicide_unsuccessful,against_person,against_person_unsuccessful,sexual_offences,sexual_offences_unsuccessful,burglary,burglary_unsuccessful,robbery,...,criminal_damage_unsuccessful,drugs,drugs_unsuccessful,public_order,public_order_unsuccessful,other,other_unsuccessful,motoring,motoring_unsuccessful,admin_unsuccessful
0,National,51,11,"9,087","2,930",736,286,"1,715",284,522,...,472,"4,988",305,"4,752",797,"3,291",586,"12,945","1,466",890
1,Avon and Somerset,0,0,228,62,35,17,49,1,8,...,14,148,4,123,28,63,9,256,40,20
2,Bedfordshire,0,1,68,29,2,1,7,4,16,...,8,31,3,30,9,13,2,171,13,12
3,Cambridgeshire,0,0,101,21,10,3,18,4,6,...,3,47,1,37,2,28,9,103,16,14
4,Cheshire,0,0,170,40,15,1,38,5,10,...,3,64,3,77,8,50,5,264,16,13

In [14]:
data = data.drop(data[data['county'] == 'National'].index)
# Removing the national row

In [15]:
data.head()
# Checking if National has been deleted

,county,homicide,homicide_unsuccessful,against_person,against_person_unsuccessful,sexual_offences,sexual_offences_unsuccessful,burglary,burglary_unsuccessful,robbery,...,criminal_damage_unsuccessful,drugs,drugs_unsuccessful,public_order,public_order_unsuccessful,other,other_unsuccessful,motoring,motoring_unsuccessful,admin_unsuccessful
1,Avon and Somerset,0,0,228,62,35,17,49,1,8,...,14,148,4,123,28,63,9,256,40,20
2,Bedfordshire,0,1,68,29,2,1,7,4,16,...,8,31,3,30,9,13,2,171,13,12
3,Cambridgeshire,0,0,101,21,10,3,18,4,6,...,3,47,1,37,2,28,9,103,16,14
4,Cheshire,0,0,170,40,15,1,38,5,10,...,3,64,3,77,8,50,5,264,16,13
5,Cleveland,2,3,119,44,11,6,36,2,3,...,13,65,2,123,27,34,14,228,16,3

In [16]:
print (data.dtypes)
# Checking data types for all columns. 
# Mixed data types object and int the best is to convert all to interger or float

county                          object
homicide                         int64
homicide_unsuccessful            int64
against_person                  object
against_person_unsuccessful     object
sexual_offences                  int64
sexual_offences_unsuccessful     int64
burglary                        object
burglary_unsuccessful            int64
robbery                          int64
robbery_unsuccessful             int64
theft_handling                  object
theft_handling_unsuccesful       int64
fraud_forgery                    int64
fraud_forgery_unsuccessful       int64
criminal_damage                 object
criminal_damage_unsuccessful     int64
drugs                           object
drugs_unsuccessful               int64
public_order                    object
public_order_unsuccessful        int64
other                           object
other_unsuccessful               int64
motoring                        object
motoring_unsuccessful           object
admin_unsuccessful               int64
dtype: object

## To change all data types with object to integer type

In [17]:
for col in data.columns:
    #loop in the columns of the data set
    if data[col].dtype == 'object':
        # convert the column to 'int'
        data[col] = data[col].astype(int)
         # check if the column data type is object

# print the updated data types of all columns
print(data.dtypes)

ValueError: invalid literal for int() with base 10: 'Avon and Somerset'